#wpcf7-f149-o1 textarea {
    min-height: 65px !important;
}
.wpcf7-form #enqtype
{
    width:100%;
    height:45px;
    margin-bottom:2%;
}
#wpcf7-f977-p561-o1 .wpcf7-form-control {
    border-radius: 4px;
    height: 45px;
    border: 1px solid #c5c5c5 !important;
    background-color: #f6f6f7;
    color: #808080;
}
#wpcf7-f977-p561-o1 .wpcf7-textarea {
    height: 75px !important;
}
#wpcf7-f977-p561-o1 .wpcf7-submit {
    color: #fff;
    background-color: #a2ac1e;
    padding: 8px 30px;
    border: 0 !important;
    border-radius: 0;
    font-weight: 500;
    font-family: 'ProximaNova-Extrabld';
    text-decoration:none !important;
}
.spaceCalculatorModal .modal-dialog, .reserveModal .modal-dialog, .slider-modal .modal-dialog {
    left: 0% !important;
}
html #facility-self-service-app .facility-self-service-nav-touch-section
{
    display:inline-flex !important;
    justify-content:center !important;
}
html #facility-self-service-app .facility-self-service-title
{
    line-height:36px !important;
}
#rapidstor-app .container, #boxshop-app .container, #tenant-accounts-app .container, .modal .container
{
    width:100% !important;
}
#menu-sb-footer-menu {
    background: #000000 !important;
    margin-left: 20%;
}

    #menu-sb-footer-menu .sub-menu li > a {
        color: #000000;
        border-bottom: 1px solid #000000;
    }

    #menu-sb-footer-menu .nocls {
        margin: 0px !important;
    }

    #menu-sb-footer-menu li > a {
        padding: 15px 0px !important;
    }

    #menu-sb-footer-menu .sub-menu {
        border-top: 5px solid #bcbe32;
        border-radius: 0;
        z-index: 100000;
    }

    #menu-sb-footer-menu .menu-item-has-children {
        width: 75%;
    }

#menu-sb-header-business-hours li {
    border: none !important;
}

#menu-sb-header-business-hours .sub-menu {
    border-top: 5px solid #bcbe32;
    border-radius: 0;
    z-index: 100000;
    left: 0% !important;
    top: 100% !important;
}

    #menu-sb-header-business-hours .sub-menu li > a {
        color: #000000;
        padding: 10px 20px;
    }


/*-Bhagavana-*/
nav select {
    display: none;
    left: 0;
}

nav ul li {
    list-style: none;
    font-family: 'Proxima Nova';
    font-size: 16px;
}

    nav ul li a {
        border-bottom: 1px solid #ebebeb;
        color: #1a1a1a;
        display: block;
        padding: 5px;
    }

#masthead nav ul li a {
    border-bottom: none;
}

nav ul li a.active {
    border-bottom: 1px solid #abb43a;
    color: #abb43a;
}

h2.elementor-image-box-title, h3.elementor-image-box-title {
    margin: 0.5em 0;
}

.dr-list {
    width: 45%;
    border: 1px solid #dadada;
    padding: 5px;
    margin-left: 10%;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 400;
}

.offer-txt {
    text-align: center;
    display: block;
    color: #fff;
    font-weight: 100;
    font-size: 68px;
    font-family: 'Proxima Nova';
}

.big-txt-color {
    color: #bcbe32;
    font-weight: 900;
    font-family: 'Proxima Nova';
}

.big-txt {
    font-weight: 900;
}

.SB-bredcrumb-link, .SB-bredcrumb {
    font-family: 'Proxima Nova';
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

.SB-bredcrumb {
    opacity: 0.5;
}

.elementor-tab-content.elementor-clearfix.elementor-active {
    border-top: none;
}

.elementor-tab-title.elementor-active {
    background: none !important;
    border: none;
}

.elementor-icon-list-text b {
    color: #000;
}



#masthead li.elementor-icon-list-item.elementor-inline-item {
    width: auto;
}

.footer-width-fixer span.htmenu-icon{
    margin-top: -7px;
}




﻿#wpcf7-f149-o1 textarea {
    min-height: 65px !important;
}

#menu-sb-footer-menu-1 {
    background: #000000 !important;
}

    #menu-sb-footer-menu-1 .sub-menu li > a {
        color: #000000;
        border-bottom: 1px solid #000000;
    }

    #menu-sb-footer-menu-1 .nocls {
        margin: 0px !important;
    }

    #menu-sb-footer-menu-1 li > a {
        padding: 15px 0px !important;
    }

    #menu-sb-footer-menu-1 .sub-menu {
        border-top: 5px solid #bcbe32;
        border-radius: 0;
        z-index: 100000;
    }

    #menu-sb-footer-menu-1 .menu-item-has-children {
        width: 75%;
    }

#menu-sb-header-business-hours li {
    border: none !important;
}

#menu-sb-header-business-hours .sub-menu {
    border-top: 5px solid #bcbe32;
    border-radius: 0;
    z-index: 100000;
    left: 0% !important;
    top: 100% !important;
}

    #menu-sb-header-business-hours .sub-menu li > a {
        color: #000000;
        padding: 10px 20px;
    }

    .storage-unit ul{margin: 0 !important;}
.storage-unit li{ width: calc(100% / 3) !important; margin: 0 !important;
}

.insurance-list li{ width: calc(100% / 2) !important; margin: 0 !important;
}
.insurance-list ul{
    margin: 0 !important;
}

/*-Bhagavana-*/
nav select {
    display: none;
    left: 0;
}

nav ul li {
    list-style: none;
    font-family: 'Proxima Nova';
    font-size: 16px;
}

    nav ul li a {
        border-bottom: 1px solid #d6d6d6;
        color: #1a1a1a;
        display: block;
        padding: 5px;font-weight: 600;
    }
    nav ul li a:hover, a:active, a.focus{
        text-decoration-line: none;color: #abb43a;
    }

#masthead nav ul li a {
    border-bottom: none;
}

nav ul li a.active {
    border-bottom: 1px solid #abb43a;
    color: #abb43a;
}


h2.elementor-image-box-title, h3.elementor-image-box-title {
    margin: 0.5em 0;
}

.dr-list {    
    border: 1px solid #dadada;
    padding: 5px;
    margin: 0%;
    font-family: 'Proxima Nova';
    font-size: 16px;
    font-weight: 400;
    min-width: 200px;
}

.elementor-element-312a781c .elementor-widget-container{
    text-align: center;
}

.offer-txt {
    text-align: center;
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 68px;
    font-family: 'Proxima Nova';
}

.big-txt-color {
    color: #bcbe32;
    font-weight: 900;
    font-family: 'Proxima Nova';
}

.big-txt {
    font-weight: 600;
}

.table-responsive.borderless{
    font-family: 'Proxima Nova';
    font-size: 16px !important;
}

.SB-bredcrumb-link, .SB-bredcrumb {
    font-family: 'Proxima Nova';
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

.SB-bredcrumb {
    opacity: 0.5;
}

.elementor-tab-content.elementor-clearfix.elementor-active {
    border-top: none;
}

.elementor-tab-title.elementor-active {
    background: none !important;
    border: none;
}

.elementor-icon-list-text b {
    color: #000;
}

/*li.elementor-icon-list-item.elementor-inline-item {
    width: 27.5%;
}*/

#masthead li.elementor-icon-list-item.elementor-inline-item {
    width: auto;
}

.small-txt{    
    font-size: 16px;text-transform: capitalize;color:#7a7a7a;font-weight:400 !important;
    display: block;margin: -5px 0 0 !important;
}
.small-txt .link-btn{
    font-size:16px !important;color:#abba28 !important;text-decoration: underline; display: inline !important;
}

.index-cs-list{
    font-weight: 900;
}

.elementor-830 li.elementor-icon-list-item {
    width: 50%;
    padding: 3% !important;
    float: left;    
    display: inline;
}

.elementor-830 .elementor-tab-title.elementor-active{
    background: #fff !important;
}

.elementor-395 .elementor-element.elementor-element-6f49637f > .elementor-widget-container {
    margin: 0;
}

.elementor-widget-container ul{
    margin: 0 ;
}



/*--- New Styles ---*/

.Business-Hours li{
    margin: 0;
}

.Business-Hours .htmenu-icon{
    float:none !important;margin-left: 5px;
}

.Header-Menu nav ul li a{
    border:none;
}

/*---- Breadcrumb----*/
#angelArrow{
    font-size: 12px !important;font-weight: bold;
}

.Header-Breadrumb a{
    padding: 5px 7px 5px 5px;
}

.Header-Breadrumb span{
    padding: 5px;
}


@media (max-width: 720px) {
    nav ul {
        display: none;
    }

    nav select {
        display: inline-block;
        width: 100%;
        border: 1px solid #ebebeb;
        padding: 10px;
        position: flex-top;
        font-family: 'Proxima Nova';
    }

    #masthead .elementor-widget-image .elementor-image img {
        height: 40px;
        width: auto;
    }

    .offer-txt {
        text-align: center;
        display: block;
        color: #fff;
        font-weight: 100;
        font-size: 48px;
        font-family: 'Proxima Nova';
    }    
}

@media (max-width: 720px) {
/*  nav ul     { display: none; }
  nav select { display: inline-block;                  
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 10px;position: flex-top;font-family: 'Proxima Nova';
}*/
.offer-txt{
    font-size: 42px;
}

.big-txt-color{
    font-size:74px;
}

.ng-pristine.ng-valid{
    width:100%;margin: 0 auto;
}
.dr-list{
    margin: 0 5% 5%;
}
.elementor-830 .elementor-element.elementor-element-5c53fec1 > .elementor-widget-container {
    margin: 0 10% 5% !important;
}

.location-mobile{
    display: block !important;background-color: #f0f1f1;
}

.location-mobile li{
    display: inline-block;width: 100% !important;
}

.location-mobile li svg{
    display: inline-flex;width:auto;
}

.location-mobile .htmega-verticle-menu ul.menu, .location-mobile .elementor-widget-container{
    background: none !important;color:#5d5d5d !important;
}

.location-mobile .htmega-verticle-menu ul.menu li,.location-mobile .htmega-verticle-menu ul.menu li a, .location-mobile .htmega-verticle-menu ul.menu li a i {
    margin: 0;padding: 5px 15px; color: #5d5d5d !important;
}

.location-mobile .htmega-verticle-menu ul.menu .sub-menu{
    border-top: 2px solid #a2ac1e;
}

.location-mobile .menu-sb-header-business-hours-container{
    margin-top: -25px;;
}

.htmega-verticle-menu ul.menu li a{
    padding-left: 26px;padding-top: 10px;
}

  }



  @media screen and (max-width: 480px) {
    .elementor-261 .elementor-element.elementor-element-03428e2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
        width: 100%;  margin-bottom: 10px;   
    }
    .dr-list{width: 100%;margin: 0;}
    
    .free-quote .elementor-widget-container {
        margin: -10px auto 20px !important; padding:0 20px;
    }
    .elementor-312 .elementor-element.elementor-element-dbec7dc .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {       
        margin: 0 0 0 25px;
        width: 100%;
    }
    .storage-unit li{ width: 100% !important; margin: 0 !important;
    }
    .insurance-list li{ width:100% !important;}
    #menu-sb-footer-menu{margin-left:10px;}

  }

  @media screen and (max-width: 720px) and (min-width:480px){

    .elementor-13 .elementor-element.elementor-element-3375986 .htmega-verticle-menu{
        width: 100%;
    }
    #menu-sb-footer-menu{margin: 0;}
    #menu-sb-footer-menu .nocls {
        margin: 0px !important;width: 49%;display: inline-block;
    }
    .dr-list{width: 100%;margin: 0;}
    .elementor-261 .elementor-element.elementor-element-2fb950c8 > .elementor-widget-container {
        margin: -10px 20px 20px;
    }
    .htmega-verticle-menu ul.menu li a{
        padding-left: 26px;padding-top: 10px;
    }
  
    .storage-unit li, .insurance-list li{ width: calc(100% / 2) !important; margin: 0 !important;
}


  }

@media screen and (max-width: 960px) {
    .mega-menu-main-menu .main-navigation,
    .mega-menu-main-menu .main-navbar {
        display: block !important;
    }

    .mega-menu-main-menu .mobile-navbar {
        display: none !important;
    }

    .mega-menu-main-menu .main-navbar .container {
        padding: 0;
    }
}

