#wpcf7-f149-o1 textarea {
    min-height: 65px !important;
}
#menu-sb-footer-menu-1{
    background:#000000 !important;
}
#menu-sb-footer-menu-1 .sub-menu li > a {
    color: #000000;
    border-bottom: 1px solid #000000;
}
#menu-sb-footer-menu-1 .nocls {
    margin: 0px !important;
}
    #menu-sb-footer-menu-1 li > a {
        padding:15px 0px !important;
    }
#menu-sb-footer-menu-1 .sub-menu {
    border-top: 5px solid #bcbe32;
    border-radius: 0;
    z-index: 100000;
}
#menu-sb-footer-menu-1 .menu-item-has-children
{
    width:75%;
}
#menu-sb-header-business-hours li {
    border:none !important;
}
#menu-sb-header-business-hours .sub-menu {
    border-top: 5px solid #bcbe32;
    border-radius: 0;
    z-index: 100000;
    left:0% !important;
    top:100% !important;
}
#menu-sb-header-business-hours .sub-menu li > a {
        color: #000000;
        padding:10px 20px;
    }


/*-Bhagavana-*/
nav select {
  display: none;left:0;
}

nav ul li {
list-style:none; font-family:'Proxima Nova';font-size:16px;
}

nav ul li a {
border-bottom:1px solid #ebebeb;color:#1a1a1a;
display:block;padding:5px;
}

#masthead nav ul li a {
    border-bottom:none;
    }

nav ul li a.active {
border-bottom:1px solid #abb43a;color:#abb43a;
}

h2.elementor-image-box-title, h3.elementor-image-box-title {
    margin: 0.5em 0;
}

.dr-list {
width:45%;
border:1px solid #dadada;padding:5px;
margin-left:10%;font-family:'Proxima Nova';font-size:16px;font-weight:400;
}

.offer-txt {
text-align:center;display:block;color:#fff;font-weight:100;font-size:68px;font-family:'Proxima Nova';
}

.big-txt-color {
    color: #bcbe32;
    font-weight: 900;
    font-family: 'Proxima Nova';
}

.big-txt {
font-weight:900;
}

.SB-bredcrumb-link, .SB-bredcrumb{
    font-family: 'Proxima Nova';
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
}

.SB-bredcrumb{
opacity:0.5;
}

.elementor-tab-content.elementor-clearfix.elementor-active {
    border-top: none;
}

.elementor-tab-title.elementor-active {
    background: none !important;
    border: none;

}

.elementor-icon-list-text b{
    color:#000;
}

li.elementor-icon-list-item.elementor-inline-item {
    width: 27.5%;
}

#masthead li.elementor-icon-list-item.elementor-inline-item {
    width: auto;
} 



    @media (max-width: 720px) {
        nav ul     { display: none; }
  nav select { display: inline-block;                  
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 10px;position: flex-top;font-family: 'Proxima Nova';
}
  }

